<app-navbar></app-navbar>

<div class="wrapper-card">
  <button class="add-button" (click)="addUser()">Add</button>

  <div *ngFor="let user of userData" class="user-card">
    <h2>
      {{ user.namaDepan }} <span>{{ user.namaBelakang }}</span>
    </h2>
    <div class="user-details">
      <p>Email: {{ user.email }}</p>
      <p>Jenis Kelamin: {{ user.jenisKelamin }}</p>
    </div>
    <p>Tanggal Lahir: {{ user.tanggalLahir | date }}</p>
    <button class="edit-button" (click)="editUser(user.id)">Edit</button>
    <button class="delete-button" (click)="deleteUser(user.id)">Delete</button>
  </div>

  <div *ngIf="editingUserId !== null" class="edit-wrapper">
    <div class="edit-user-form">
      <h2>Edit User</h2>
      <form (submit)="saveUser()" [formGroup]="form">
        <!-- Create form inputs for editing user details -->
        <label for="editedName">First Name:</label>
        <input
          formControlName="name"
          type="text"
          id="editedName"
          [(ngModel)]="editedUser.namaDepan"
          name="namaDepan"
          required
        />
        <div *ngIf="form.get('name')?.hasError('required')">
          <span class="error-message">name is required.</span>
        </div>
        <div *ngIf="form.get('name')?.hasError('minlength')">
          <span class="error-message"
            >Name must be at least 6 characters long.</span
          >
        </div>

        <label for="editedLastName">Last Name:</label>
        <input
          type="text"
          formControlName="lastName"
          id="editedLastName"
          [(ngModel)]="editedUser.namaBelakang"
          name="namaBelakang"
          required
        />
        <div *ngIf="form.get('lastName')?.hasError('required')">
          <span class="error-message">Last name is required.</span>
        </div>
        <div *ngIf="form.get('lastName')?.hasError('minlength')">
          <span class="error-message"
            >Last name must be at least 6 characters long.</span
          >
        </div>

        <label for="editedEmail">Email:</label>
        <input
          type="email"
          formControlName="email"
          id="editedEmail"
          [(ngModel)]="editedUser.email"
          name="email"
          required
        />
        <div *ngIf="form.get('email')?.hasError('email')">
          <span class="error-message">Must be in email format.</span>
        </div>

        <label for="editedGender">Gender:</label>
        <input
          type="text"
          formControlName="gender"
          id="editedGender"
          [(ngModel)]="editedUser.jenisKelamin"
          name="jenisKelamin"
          required
        />
        <div *ngIf="form.get('gender')?.hasError('required')">
          <span class="error-message">Gender is required.</span>
        </div>

        <label for="editedBirthdate">Birthdate:</label>
        <input
          type="date"
          id="editedBirthdate"
          [(ngModel)]="editedUser.tanggalLahir"
          name="tanggalLahir"
          required
        />
        <div *ngIf="form.get('birthDate')?.hasError('required')">
          <span class="error-message">Birth Date is required.</span>
        </div>

        <button type="submit">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>

  <!-- Add User Form -->
  <div *ngIf="isAddUserFormVisible" class="add-user-form-wrapper">
    <div class="add-user-form">
      <h2>Add User</h2>
      <form (submit)="addNewUser()">
        <label for="newFirstName">First Name:</label>
        <input
          type="text"
          id="newFirstName"
          [(ngModel)]="newUser.namaDepan"
          name="namaDepan"
          required
        />
        <div *ngIf="form.get('name')?.hasError('required')">
          <span class="error-message">name is required.</span>
        </div>
        <div *ngIf="form.get('name')?.hasError('minlength')">
          <span class="error-message"
            >Name must be at least 6 characters long.</span
          >
        </div>

        <label for="newLastName">Last Name:</label>
        <input
          type="text"
          id="newLastName"
          [(ngModel)]="newUser.namaBelakang"
          name="namaBelakang"
          required
        />
        <div *ngIf="form.get('lastName')?.hasError('required')">
          <span class="error-message">Last name is required.</span>
        </div>
        <div *ngIf="form.get('lastName')?.hasError('minlength')">
          <span class="error-message"
            >Last name must be at least 6 characters long.</span
          >
        </div>

        <label for="newEmail">Email:</label>
        <input
          type="email"
          id="newEmail"
          [(ngModel)]="newUser.email"
          name="email"
          required
        />
        <div *ngIf="form.get('email')?.hasError('email')">
          <span class="error-message">Must be in email format.</span>
        </div>

        <label for="newGender">Gender:</label>
        <input
          type="text"
          id="newGender"
          [(ngModel)]="newUser.jenisKelamin"
          name="jenisKelamin"
          required
        />
        <div *ngIf="form.get('gender')?.hasError('required')">
          <span class="error-message">Gender is required.</span>
        </div>

        <label for="newBirthdate">Birthdate:</label>
        <input
          type="date"
          id="newBirthdate"
          [(ngModel)]="newUser.tanggalLahir"
          name="tanggalLahir"
          required
        />
        <div *ngIf="form.get('birthDate')?.hasError('required')">
          <span class="error-message">Birth Date is required.</span>
        </div>

        <button type="submit">Add User</button>
        <button type="button" class="cancelButton" (click)="addUser()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
