/* Style for the .wrapper-card container */
.wrapper-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create four columns */
  gap: 20px; /* Adjust the gap as needed */
  padding: 25px 75px; /* Add 75px horizontal padding */
  position: relative;
}

.add-button {
  position: absolute;
  top: 25px;
  right: 5px;

  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.add-to-transaction-button {
  margin-right: 10px;

  background-color: #a8af4c; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.add-to-transaction-button:hover {
  background-color: #747934;
}

.add-button:hover {
  background-color: #307033;
}

/* Style for the .prod-card container */
.prod-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

/* Style for the h2 element inside .prod-card */
.prod-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

.prod-card h2 span {
  font-size: 1rem;
  margin: 0;
}

/* Style for the p elements inside .prod-card */
.prod-card p {
  margin: 5px 0;
}

/* Style for the email, jenisKelamin, and tanggalLahir paragraphs */
.prod-card .prod-details p {
  font-size: 0.9rem;
  color: #555;
}

/* Add styles for the edit button and delete button as before */
.edit-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

/* Add styles for the edit-wrapper section */
.edit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.edit-wrapper h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-wrapper form {
  display: flex;
  flex-direction: column;
}

.edit-wrapper label {
  font-weight: bold;
  margin-top: 10px;
}

.edit-wrapper input {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.edit-wrapper button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.edit-wrapper button[type="submit"]:hover {
  background-color: #45a049;
}

.edit-wrapper button:last-child {
  background-color: #ccc;
  margin-top: 5px;
}

.edit-wrapper button:last-child:hover {
  background-color: #999;
}

/* CSS for Add prod Form */
.add-prod-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.add-prod-form {
  position: sticky;
  height: 550px;
  width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-prod-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-prod-form form {
  display: flex;
  flex-direction: column;
}

.add-prod-form label {
  font-weight: bold;
  margin-top: 10px;
}

.add-prod-form input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-prod-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.add-prod-form .cancelButton {
  background-color: #ff2600;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.add-prod-form button:hover {
  background-color: #0056b3;
}

.add-prod-form .cancelButton:hover {
  background-color: #ad311b;
}

.transaction-menu {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transaction-menu h2 {
  text-align: center;
  margin-bottom: 20px;
}

.transaction-menu label {
  display: block;
  margin-bottom: 10px;
}

.transaction-menu select,
.transaction-menu input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.transaction-menu ul {
  list-style: none;
  padding: 0;
}

.transaction-menu li {
  margin-bottom: 10px;
}

.transaction-menu button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 3px;
  cursor: pointer;
}

.transaction-history {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transaction-history h2 {
  text-align: center;
  margin-bottom: 20px;
}

.transaction-history ul {
  list-style: none;
  padding: 0;
}

.transaction-history li {
  margin-bottom: 10px;
}

.transaction-history li:nth-child(odd) {
  background-color: #f9f9f9;
}
